In [3]:
import os 
os.chdir("/home/riccardodandrea/Schreibtisch/Github/ReutersNOZ")
os.getcwd()

'/home/riccardodandrea/Schreibtisch/Github/ReutersNOZ'

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
import pandas as pd

In [3]:
df = pd.read_csv("reuters_articles_with_split.csv")
df = df.dropna()
df.head()

,topics,text,split
0,cocoa,Showers continued throughout the week in\nthe ...,TRAIN
4,"grain,wheat,corn,barley,oat,sorghum",The U.S. Agriculture Department\nreported the ...,TRAIN
5,"veg-oil,linseed,lin-oil,soy-oil,sun-oil,soybea...",Argentine grain board figures show\ncrop regis...,TRAIN
8,earn,Champion Products Inc said its\nboard of direc...,TRAIN
9,acq,Computer Terminal Systems Inc said\nit has com...,TRAIN

In [ ]:
df["topics"].unique

In [ ]:
# Korrekt anfang

In [4]:
# Create Feature and Label sets
X = df['text']
y = df['topics']
# train test split (66% train - 33% test)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print('Training Data :', X_train.shape)

print('Testing Data : ', X_test.shape)

Training Data : (8301,)
Testing Data :  (2076,)

In [5]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [9]:
print(clf.predict(count_vect.transform(["""CRUDE OIL NETBACKS UP SHARPLY IN EUROPE, U.S.</TITLE>
<DATELINE>    NEW YORK, April 9 - </DATELINE><BODY>Crude oil netback values in complex
refineries rose sharply in Europe and firmed in the U.S. last
Friday from the previous week but fell sharply in Singapore,
according to calculations by Reuters Pipeline.
    The firmer tone to refining margins in Europe and the U.S.
relected higher prices for petroleum products, particularly
gasoline, and support from crude oil prices.
    Netback values for crude oil refined in Northern Europe
rose substantially following strong gains in gasoline prices
there. Brent is valued at 19.45 dlrs, up 56 cts a barrel or
three pct from the previous week.
    In the U.S. Gulf, sweet crudes rose in value by 14 cts to
19.33 dlrs for West Texas Intermediate, up about 0.7 pct.
    Sour grades in the U.S. Gulf showed an increase of 33 cts a
barrel for Alaska North Slope, up 1.7 pct.
    But netbacks for crude oil refined in Singapore fell
sharply, down 15 cts to as much as 68 cts a barrel as ample
distillate supplies weighed on petroleum product prices.
    Attaka in Singapore is valued at 18.55 dlrs, a decline of
68 cts a barrel or 3.5 pct from the previous week.
    For refineries in the Mediterranean, netback values were
mostly lower, with declines of seven to 14 cts. The value of
Kuwait crude fell 14 cts to 18.37 dlrs, while Iranian Light
fell 11 cts to 19.14 dlrs.
    On the U.S. West Coast, netback values for ANS CIF L.A.
also jumped sharply, up 40 cts a barrel or 2.2 pct to 18.82
dlrs on higher gasoline prices."""])))

['earn']

In [ ]:
set(list(df["topics"]))

In [ ]:
# Korrekt ende

In [5]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

# Laden der CSV-Datei mit den Artikeln
df = pd.read_csv("reuters_articles_with_split.csv")
df = df.dropna()
# Features ausw√§hlen (Text) und Zielvariable (Topics)
X = df["text"]
y = df["topics"]

# Trainingsdaten trennen
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# TF-IDF-Vektorisierung der Texte (Text in numerische Vektoren umwandeln)
vectorizer = TfidfVectorizer(max_features=5000, stop_words='english')  # max_features setzt die Anzahl der Vektoren
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

# Modell trainieren
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_tfidf, y_train)

# Modell evaluieren
y_pred = model.predict(X_test_tfidf)
accuracy = accuracy_score(y_test, y_pred)
print(f"Genauigkeit: {accuracy:.3f}")

Genauigkeit: 0.790

In [7]:
# Beispieltext, den du vorhersagen m√∂chtest
new_text = """Oper shr 38 cts vs 1.84 dlrs
    Oper net 973,000 vs 4,497,000
    Nine mths
    Oper shr 1.22 dlrs vs 1.31 dlrs
    Oper net 3,133,000 vs 3,410,000
    NOTE: Results exclude extraordinary gain from net loss
carryforward of 672,000 dlrs or 27 cts in 1987 3rd qtr, 918,000
dlrs 38 cts in 1986 3rd qtr, and 1,071,000 dlrs or 44 cts in
1987 nine months. 1986 results include 5.1 mln dlr gain from
termination of defined benefit pension plan."""

# Schritt 1: Text in denselben numerischen Vektor umwandeln, der f√ºr das Training verwendet wurde
new_text_tfidf = vectorizer.transform([new_text])

# Schritt 2: Vorhersage des Themas mit dem trainierten Modell
predicted_topic = model.predict(new_text_tfidf)

# Ausgabe des vorhergesagten Themas
print(f"Vorhergesagtes Thema: {predicted_topic[0]}")

Vorhergesagtes Thema: earn

In [8]:
df.columns

Index(['topics', 'text', 'split'], dtype='object')

In [30]:
# Create Feature and Label sets
X_test_filtered = df[df['split'] == "TEST"]
X_train_filtered = df[df['split'] == "TRAIN"]

X_test = X_test_filtered.drop(columns=["topics","split"])
X_train = X_train_filtered.drop(columns=["topics","split"])

((7068, 1), (2745, 1))

In [26]:
y_test_filtered = df[df["split"]== "TEST"]
y_train_filtered = df[df["split"]== "TRAIN"]

,topics,text,split
0,cocoa,Showers continued throughout the week in\nthe ...,TRAIN
4,"grain,wheat,corn,barley,oat,sorghum",The U.S. Agriculture Department\nreported the ...,TRAIN
5,"veg-oil,linseed,lin-oil,soy-oil,sun-oil,soybea...",Argentine grain board figures show\ncrop regis...,TRAIN
8,earn,Champion Products Inc said its\nboard of direc...,TRAIN
9,acq,Computer Terminal Systems Inc said\nit has com...,TRAIN
...,...,...,...
13001,"dlr,money-fx",The Bank of Japan bought a small amount of\ndo...,TRAIN
13003,rubber,"Japan's rubber stocks fell to 44,980\ntonnes i...",TRAIN
13004,money-fx,THE BANK OF KOREA SAID IT FIXED THE\nMIDRATE O...,TRAIN
13011,copper,Nippon Mining Co Ltd said it lowered its\nsell...,TRAIN
13016,ship,Australian trade unions said they have\nlaunch...,TRAIN

In [23]:
y_test = y_test_filtered["topics"]
y_train = y_train_filtered["topics"]

((7068,), (2745,))

In [31]:
y_train.shape, y_test.shape, X_train.shape, X_test.shape

((7068,), (2745,), (7068, 1), (2745, 1))